<!DOCTYPE html>
<html lang="en-US">
 <head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>CassIntimates - Contact</title>
 <link rel="icon" href="imgs/Logo2.jpg">
 <link rel="stylesheet" href="css/styles.css">
 <link rel="stylesheet" href="css/card-gallery.css">
 <link rel="stylesheet" href="css/compact-gallery.css">
 <link rel="stylesheet" href="css/grid-gallery.css">
 <link rel="stylesheet" href="css/horizontal-img-scroll.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="css/horizontal.css">
 <link rel="stylesheet" href="css/w3.css">
 <link rel="stylesheet" href="css/horizontal.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"/>
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="css/style.min.css" />
</head>h

<!-- contact/email form submission  -->
    <a name="contact"></a>
    <section class="contact-from pt-4">
        <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto text-center">
                                <h2>Contact us?</h2>
                                <div class="divider bg-primary mx-auto"></div>
                                <p class="text-muted lead">
                                   We are looking forward to hear something from you!
                                </p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-8 mx-auto">
                                <form _lpchecked="1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your email address">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="tel" class="form-control" placeholder="Phone number">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea rows="5" class="form-control" placeholder="What are you looking for?"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-primary">Send your quote</button>
                                        <br><br>
                                        <button type="submit" class="text-white btn btn-primary" id="mailto">
                                            <a class="text-white" href="mailto:cassintimates27@gmail.com"
                                                target="_top">
                                                Direct Email <i class="text-white far fa-envelope"></i>
                                            </a>
                                        </button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
          </div>

        
            
   
    
        </section>
</html>
    

   
  


