/* @import "phone.css";  */

:root {
    --bg-color: black;
    --text-color: white;
}

#section-1 {
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    color: var(--text-color);
}

.list li {
    color: var(--text-color);
}

th,
td {
    border-style: hidden;
}